/* Default styles for the Wizard. Any of these can be overridden
 * in a user's stylesheet if it is injected via that project's
 * .gwt.xml file. Turn them off completely by setting the wizard's
 * primary style name to something other than muse-gwt-Wizard.
 */

.muse-gwt-Wizard {
	background-color: white;
	border: 0px solid black;
}

.muse-gwt-Wizard .valignMiddle {
	vertical-align: middle;
}

.muse-gwt-Wizard .rightBorder {
	border-right: 2px solid grey;
	height: 100%;
}

.muse-gwt-Wizard .leftBorder {
	border-left: 2px solid grey;
}

.muse-gwt-Wizard .topBorder {
	border-top: 2px solid grey;
}

.muse-gwt-Wizard .bottomBorder {
	border-bottom: 2px solid grey;
}
 

.muse-gwt-Wizard .wizardPages {
	padding: 5px;
	width: 100%;
  	height: 100%;
  	font-size:14px;
  	background-color: #e9f8f7;
}

.muse-gwt-Wizard .wizardPages .inactive {
	color: #888888;
	font-size:14px;
	white-space: nowrap;
}

.muse-gwt-Wizard .wizardPages .active {
	font-size:14px;
	white-space: nowrap;
}

.muse-gwt-Wizard .wizardPages .inactiveSmaller {
	color: #8b472e;
	font-size:12px;
	white-space: nowrap;
}

.muse-gwt-Wizard .wizardPages .activeSmaller {
	color: #000000;
	font-size:12px;
	white-space: nowrap;
}

.muse-gwt-Wizard .wizardContent {
	padding: 5px;
	padding-left:10px;
	padding-top:10px
	width: 100%;
/*   	height: 100%; */
  	overflow-y: auto; 
}

.muse-gwt-Wizard .wizardTitle .gwt-HTML {
	font-size: 17pt;
	font-weight: bolder;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom:13px;
	float: left;
	background-color: #e9f8f7;
}

.wizardWelcome {
	padding: 3%;
	width: 100%;
 }
 .wizardRegularPage {
	padding: 0.5%;
 }
.wizardWelcomelabel1{
	font-size: 17pt;
	font-weight: bolder;
	padding-bottom: 20px;
	white-space: pre-line;
}
.wizardWelcomelabel2{
	font-size: 14pt;
	padding-bottom: 10px;
	white-space: pre-line;
}

.wizardBottomMessageLabel{
	font-size: 20px;
	padding-top: 40px;
}

.wizardNavigation{
	
}
.wizardPageList{
	font-size: 14px !important;
}
.wizardQuestionPanel{
	background: #e9f8f7;
    border-radius: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.WizardQuestionPanelLessRoundCorners{
	background: #e9f8f7;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.wizardQuestionLabel{
	font-size: 2.0em;
	font-family: Circular,arial,sans-serif;
/* 	text-align: center; */
	padding-top: 20px;
	padding-bottom: 20px;
}
.wizardExplanationLabel{
	font-size: 1.5em;
	color: #776868;
/* 	text-align: left; */
/* 	padding-top:30px; */
/* 	padding-bottom: 20px; */
	white-space: pre-line;
}

.wizard-Button {
  font-size:17px !important;
  margin: 0;
  padding: 5px 7px;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
  font-size:small;
  background: url("../hborder.png") repeat-x 0px -2077px;
  border:1px solid #bbb;
  border-bottom: 1px solid #a0a0a0;
  border-radius: 3px;
 -moz-border-radius: 3px;
}
.gwt-Button:active {
  border: 1px inset #ccc;
}
.gwt-Button:hover {
  border-color: #939393;
}
.gwt-Button[disabled] {
  cursor: default;
  color: #888;
}
.gwt-Button[disabled]:hover {
  border: 1px outset #ccc;
}
.gwt-ProgressBar-shell {
    border: 1px solid #1f2b31;
    background-color: #67A7E3 ;
    height: 16px;
    width: 50%;
    margin-left: 10px;
}

.gwt-ProgressBar-shell .gwt-ProgressBar-bar {
    background-color:#BB4B44;
}

.gwt-ProgressBar-shell .gwt-ProgressBar-text {
    padding: 3px;
    margin: 0;
    color: white;
}

.progressLabel {
    font-family: Arial, sans-serif;
    font-size: 12px;
}
.dropFilesLabel {
    margin-top: 6px;
    padding-top: 28px;
    padding-bottom: 28px;
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
    color: #2d4b6d;
    font-weight: bold;
    text-align: center;
    display: block;
    border: 2px dashed #888888;
    border-radius: 7px;
}

.dropFilesLabelHover {
    border: 2px solid #444444;
    color: #7c9647;
}
.cancelButton {
    margin: 3px 0 -1px 2px;
    cursor: hand;
	cursor:pointer;
    padding-left: 10px;
}
.clickable {
	cursor: hand;
	cursor:pointer;
}
.wizardProgressBarTable{
	padding: 10px;
}
.wizardProgressBarRow{
	padding-top: 10px;
	padding-left: 10px;
    width: 100%;
}
.wizardUploaderPanel{
	padding:10px;
}

.wizardLabel3{
	font-size: 14px;
}
.wizardCriticalMessage{
	color: #ff0000;
	font-size: 14px;
}
.wizardInfoMessage{
	color: #808080;
	font-size: 13px;
}
.WizardErrorLabel1{
	color: #9d0000;
	font-size: 13px;
	font-weight: bold;
}

.linkText{
	font-size: 14px; 
	color: #BB4B44;
}
.linkText:hover{
	font-size: 14px; 
	color: #000000;
}
.wizardTextBox{
	font-size: 14px;
}
.wizardTextBoxGrey{
	font-size: 14px;
	color: grey;
}
.wizardFormTextLabel{
	font-size: 2.0em;
	font-family: Circular,arial,sans-serif;
	white-space: nowrap;
}
.wizardFormTextLabelError{
	font-size: 2.0em;
	font-family: Circular,arial,sans-serif;
	white-space: nowrap;
	color:red;
}
.wizardTextFormPanel{
	background: #e9f8f7;
    border-radius: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.wizardNewSampleLabel{
    margin-top: 11px;
    margin-bottom: 11px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left:5px;
    padding-right:5px;
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
    color: #2d4b6d;
    font-weight: bold;
    text-align: center;
    display: block;
    border: 2px dashed #888888;
    border-radius: 7px;
    cursor: hand;
	cursor:pointer;
	width: 15em;
	height: 2em
}

.wizardNewSampleLabel:hover {
    border: 2px solid #444444;
    color: #7c9647;
}
.wizardSampleLabel{
	margin-top: 11px;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left:10px;
    padding-right:10px;
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
    color: #2d4b6d;
    font-weight: bold;
/*     text-align: center; */
    display: block;
    border: 2px solid #888888;
    border-radius: 7px;
    cursor: hand;
	cursor:pointer;
}
.wizardItemWidget{
	margin-top: 10px;
	background: #e9f8f7;
    border-radius: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border: 2px solid #888888;
    border-radius: 7px;

}

.wizardItemWidgetNameLabel{
    padding-right:10px;
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
    color: #2d4b6d;
    font-weight: bold;
/*     text-align: left; */
    display: block;
    cursor: hand;
	cursor:pointer;
}
.wizardItemWidgetNameLabelNonClickable{
    padding-right:10px;
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
    color: #2d4b6d;
    font-weight: bold;
/*     text-align: left; */
    display: block;
}
.wizardItemWidgetNameLabelNonClickableRed{
    padding-right:10px;
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
    color: #800000;
    font-weight: bold;
/*     text-align: left; */
    display: block;
}
.wizardItemWidgetNameLabel:hover {
    color: #7c9647;
}
.wizardItemWidgetNameTextBox{
	font-size: 1em;
}
.WizardItemWidgetPropertyNameLabel{
	font-size: 1em;
	color: #776868;
/* 	text-align: left; */
	white-space: pre-line;
}
.WizardItemWidgetPropertyNameLabelSmaller{
	font-size: 0.8em;
	color: #808040;
/* 	text-align: left; */
	white-space: pre-line;
}
.WizardItemWidgetPropertyValueLabel{
	font-size: 1em;
	color: #2d4b6d;
/* 	text-align: left; */
	white-space: pre-line;
	width: 20em;
    cursor: hand;
	cursor:pointer;
}
.WizardItemWidgetPropertyValueLabel:hover{
	color: #7c9647;
}
.WizardItemWidgetPropertyValueTextBox{
	font-size: 1em;
	width: 20em;
}
.WizardItemWidgetPropertyValueTextArea{
	font-size: 1em;
	width: 20em;
	border-width: 0px;
	padding: 0px;
}
.WizardButton{
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	padding:4px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.WizardButton:hover{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.WizardButton:active {
	position:relative;
	top:1px;
}

.WizardButton{
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	padding:4px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.WizardButton:hover{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.WizardButton:active {
	position:relative;
	top:1px;
}
.WizardButtonSmall{
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:8px;
	font-weight:bold;
	padding:2px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.WizardButtonSmall:hover{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.WizardButtonSmall:active {
	position:relative;
	top:1px;
}
.WizardDraggableLabel{
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	padding:5px 10px;
	text-decoration:none;
/* 	margin-top: 10px; */
	text-shadow:0px -1px 0px #2b665e;
/* 	width: 15em; */
}
.WizardDraggableLabel:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.WizardDraggableLabel:active {
	position:relative;
	top:1px;
}
.WizardDraggableLabelFixed{
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
/* 	width: 15em; */
}
.WizardItemWidgetDragEnter{
	font-family:Arial;
	font-size:12px;
 	padding:11px 23px;
 	display:inline-block;
	text-decoration:none;
	background: #d0dcd9;
    padding:4px 9px;
    border: 1.5px solid #000000;
    border-radius: 5px;
/*     width: 15em; */
}
.WizardDragTargetLabel{
	font-family:Arial;
	font-size:12px;
 	padding:11px 23px;
 	display:inline-block;
	text-decoration:none;
	background: #dcd0d5;
    padding:5px 10px;
    border: 1px dashed #888888;
    border-radius: 5px;
/*     width: 15em; */
}
.WizardDragTargetLabelOptional{
	font-family:Arial;
	font-size:12px;
 	padding:11px 23px;
 	display:inline-block;
	text-decoration:none;
	background: #abd6d6;
    padding:5px 10px;
    border: 1px dashed #888888;
    border-radius: 5px;
/*     width: 15em; */
}
.WizardJumpToPage {
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:5px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:12px;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
/* 	text-align: left; */
}
.WizardJumpToPage:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.WizardJumpToPage:active {
	position:relative;
	top:1px;
}
 
.WizardButtonMini {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:8px;
	font-weight:bold;
	padding:2px 5px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.WizardButtonMini:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.WizardButtonMini:active {
	position:relative;
	top:1px;
}
.ExcelColumnRefPanelNew {
/* 	border-bottom: solid; */
	width:100%;
}